<a href="https://colab.research.google.com/github/ParkDaeheee/code_3rd/blob/main/py231019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To-Do List를 작성하시오.
  - 2023년 10월 19일 박대희
  - (1) 09:20 도서관에서 책 빌리기
  - (2) 11:10 컴퓨팅 적사고와 기초코딩 수업
  - (3) 13:00 점심식사
  - (4) 14:10 교양수업
  - (5) 16:00 파이썬 공부 및 레포트 작성
  - (6) 17:40 저녁식사 및 집안일 돕기
  - (7) 19:00 LOL 하기

In [ ]:
print("To-Do List") # To-Do List를 출력하는 코드입니다.
print("- 2023년 10월 19일 박대희") # 날짜와 이름을 출력합니다.
print("- (1) 09:20 도서관에서 책 빌리기") # (1) 도서관에서 책 빌리기 작업을 출력합니다.
print("- (2) 11:10 컴퓨팅 적사고와 기초코딩 수업") # (2) 컴퓨팅 적사고와 기초코딩 수업 작업을 출력합니다.
print("- (3) 13:00 점심식사") # (3) 점심식사 작업을 출력합니다.
print("- (4) 14:10 교양수업") # (4) 교양수업 작업을 출력합니다.
print("- (5) 16:00 파이썬 공부 및 레포트 작성") # (5) 파이썬 공부 및 레포트 작성 작업을 출력합니다.
print("- (6) 17:40 저녁식사 및 집안일 돕기") # (6) 저녁식사 및 집안일 돕기 작업을 출력합니다.
print("- (7) 19:00 LOL 하기") # (7) LOL 하기 작업을 출력합니다.

To-Do List
- 2023년 10월 19일 박대희
- (1) 09:20 도서관에서 책 빌리기
- (2) 11:10 컴퓨팅 적사고와 기초코딩 수업
- (3) 13:00 점심식사
- (4) 14:10 교양수업
- (5) 16:00 파이썬 공부 및 레포트 작성
- (6) 17:40 저녁식사 및 집안일 돕기
- (7) 19:00 LOL 하기

2. 인사말 출력하기
  - 식사하셨습니까? 행님

In [ ]:
print("식사하셨습니까? 행님") # 사용자에게 식사 여부를 묻는 메시지를 출력합니다.

식사하셨습니까? 행님

3. 학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.
  - 박보검: 90점
  - 션    : 92점
  - 도룡뇽: 80점
  - 차은우: 99점
  - 국어 점수 순위
  - 1등 차은우
  - 2등 션
  - 3등 박보검
  - 4등 도룡뇽

In [ ]:
n1 = int(input("학생의 점수를 입력하시오.: ")) # 첫 번째 학생의 점수를 입력받습니다.
n2 = int(input("학생의 점수를 입력하시오.: ")) # 두 번째 학생의 점수를 입력받습니다.
n3 = int(input("학생의 점수를 입력하시오.: ")) # 세 번째 학생의 점수를 입력받습니다.
n4 = int(input("학생의 점수를 입력하시오.: ")) # 네 번째 학생의 점수를 입력받습니다.
print("국어 점수 순위") # 국어 점수 순위를 출력하는 부분입니다.
print("1등","차은우",n4) # 1등 학생의 이름과 점수를 출력합니다.
print("2등","션", n2) # 2등 학생의 이름과 점수를 출력합니다.
print("3등","박보검", n1) # 3등 학생의 이름과 점수를 출력합니다.
print("4등","도룡뇽", n3) # 4등 학생의 이름과 점수를 출력합니다.

학생의 점수를 입력하시오.: 90
학생의 점수를 입력하시오.: 92
학생의 점수를 입력하시오.: 80
학생의 점수를 입력하시오.: 99
국어 점수 순위
1등 차은우 99
2등 션 92
3등 박보검 90
4등 도룡뇽 80

4. 두 개의 점수를 입력받아서 합계와 평균을 출력하시오.

In [ ]:
n1 = int(input("박보검의 값을 입력하시오.:")) # 박보검의 값을 입력받습니다.
n2 = int(input("션의 값을 입력하시오.:")) # 선의 값을 입력받습니다.
total = n1 + n2 # 입력받은 두 값의 합을 계산합니다.
average = total / 2 # 총합을 2로 나누어 평균을 계산합니다.
print(total) # 총합을 출력합니다.
print(average) # 평균을 출력합니다.

박보검의 값을 입력하시오.:90
션의 값을 입력하시오.:92
182
91.0